<ion-view name="patient-detail" view-title="Patient Details" ng-controller="PatientDetailsCtrl as vm">
  <ion-nav-buttons side="right">
    <button style="color: white; font-weight: bold; text-decoration: underline" class="button button-clear">
      Edit
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div>{{vm}}</div>
    <!--<div class="list card">
      <label class="item item-input">
        <input type="text" ng-readonly="true" placeholder="First Name" ng-model="vm.item.first_name">
      </label>
      <label class="item item-input">
        <input type="text" ng-readonly="true" placeholder="Last Name" ng-model="vm.item.last_name">
      </label>
    </div>-->

  </ion-content>
</ion-view>
